
.variable {
    background: #222;
    margin: 0 4px;
    padding: 1px 3px;
    border-radius: 4px;

    &--1 { color: #978cff;}
    &--2 { color: #ff8cf9;}
    &--3 { color: #fffd8c;}
    &--4 { color: #a0ffad;}
    &--5 { color: #53acff;}
    &--6 { color: #ff8dcc;}
    &--7 { color: #ffc27c;}
    &--0 { color: #ff7c7c;}
}
