@use './vars' as *;

html, body {
    overflow: hidden;
    overflow-y: auto;
    background: #09090b;
    color: #ccc;

    color-scheme: dark;

    width: 100vw;
    height: 100vh;
    margin: 0;

    line-height: 1.3;
    letter-spacing: 0.15px;
    word-spacing: 0.3px;

    scroll-behavior: smooth;

    position: absolute;
    top: 0;
    left: 0;
}

@media (prefers-reduced-motion: reduce) {
    html, body {
        scroll-behavior: auto;
    }
}

h1 {
    color: #fff;
}

h2 {
    color: #eee;
}

h3 {
    color: #ddd;
}

main, article {
    > :first-child {
        &h1, &h2, &h3, &h4, &h5, &h6 {
            margin-top: 0;
        }
    }
}

a {
    &, * {
        transition-property: color, text-decoration-color;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.19, 0.01, 0.23, 0.73);

        color: hsl($themehue, 70%, 50%);
        text-decoration: underline;
        text-decoration-color: hsla($themehue, 67%, 47%, 0%);
    }
    &:hover {
        &, * {
            transition-duration: 0.4s;
            transition-timing-function: cubic-bezier(0.13, 0.7, 0.52, 1);

            color: hsl($themehue, 100%, 50%);
            text-decoration-color: hsla($themehue, 100%, 35%, 90%);
        }
    }
    &[aria-current="page"] {
        &, * {
            color: hsl($themehue, 100%, 70%);
            text-decoration-color: hsla($themehue, 100%, 70%, 0%);
        }
        &:hover {
            &, * {
                color: hsl($themehue, 100%, 80%);
                text-decoration-color: hsla($themehue, 100%, 70%, 90%);
            }
        }
    }
}

pre, code {
    color: #ddd;
    font-family: var(--code-font);
    padding: 2px 7px;
    background: #282828;
    border-radius: 5px;
}

main {
    padding: 32px 48px;
}
