.gameDisplay {
    display: flex;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    &, * { max-width: min(300px, 100%); }

    > h3 {
        margin: 0;
        font-size: 2rem;
    }
}

.gameInfo {
    display: grid;
    grid-template-columns: 1fr;
    width: max-content;
    justify-items: center;
}


.gameName {
    > dt { display: none; }
    font-size: 1.2rem;
    margin-bottom: 4px !important;
}


.gamePoster {
    > dt { display: none; }
    margin-bottom: 2px !important;
}


.gameDomainAndIdCombo {
    display: inline-flex;
    gap: 10px;
    > div > dt { display: none; }
    font-size: 0.9rem;
    &::before { content: '('; }
    &::after  { content: ')'; }
    &::before, &::after {
        margin: 0 -9px;
        color: #555;
        font-size: 1rem;
    }
    > div { margin-top: 0.1rem; }
    margin-left: 8px;
    font-family: var(--code-font);
    font-weight: 600;
    color: #b8b8b8;
}


.gameDomainName {

}


.gameId {

}
